@import "base/color";
@import "base/tipogr";





* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/* Seccion index*/


/*logo*/

div img {
    width: 6rem;


}


/*Barra de navegacion*/

.navbar-collapse {
    justify-content: center;
}

.navbar-expand-lg .navbar-nav {
    margin-right: 0 !important;
}

ul li {
    list-style: none;
    text-decoration: none;
    padding-right: 3rem;




    a {


        font-family: $tipo-parrafo;
        color: $textos;
        font-size: 20px;
        text-decoration: none;
       
      


        &:hover {
            background-color: $hover;
            border-radius: 20px;
            color: whitesmoke;

        }
    }
}



/*imagen inicio con texto*/


.background-inicio {


    width: 100%;

}


/*frase nos necesitamos*/

.frase {

    font-family: $tipo-terciaria;
    font-size: 15px;
}





/*Video*/

.video {


    text-align: center;
    background-color: $ondas-claras;
    width: 100%;


}


/* iconos footer y copyright*/

.redes {
    text-align: center;
    margin-top: 8rem;


    .redes-iconos {


        width: 3%;
        display: inline-block;
        margin: 5px;
        margin-bottom: 3rem;

    }

    .copyright {


        font-family: $tipo-parrafo;
        margin-top: 0;


    }

}






/*Decoracion ondas encabezado*/

.custom-shape-divider-top-1610495137 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.custom-shape-divider-top-1610495137 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 73px;
}

.custom-shape-divider-top-1610495137 .shape-fill {
    fill: #AAE068;
}



/*seccion shop*/


#carouselExampleDark {
    font-family: $tipo-terciaria;

}




/*seccion contactanos*/

.form {


    width: 30rem;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: $hover;
    box-shadow: 4px 4px 5px -1px #b7b7b7;
    padding: 30px;
    font-family: $tipo-terciaria;



    .form-label {
        width: 20rem;
        color: white;
    }
}




/* Boton enviar contacto*/
.boton-enviar {


    width: 90px;
    height: 30px;
    background-color: #c5f06d;
    font-family: $tipo-terciaria;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);



}

.escribenos {

    padding-top: 40px;
    padding-bottom: 20px;
    font-family: $tipo-terciaria;
    color: $textos;
    text-align: center;

}

.contactanos-en {

align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

}


/*Seccion nosotros*/

.titulo-hojita {

    text-align: center;

    .titulo-historia {

        padding-top: 3rem;
        font-family: $tipo-parrafo;


    }

    .hojita {
        width: 4rem;
        padding-top: 4rem;
    }


}

#columnasnosotras {

    background-color: $ondas-claras;
    text-align: center;

}


.proposito-nosotras {


    font-size: 15px;
    font-family: $tipo-parrafo;
    padding: 3rem;
    padding-top: 1rem;

}


.fotos-nosotras {

    display: flex;
    justify-content: space-evenly;

    .erika {

        font-family: $tipo-terciaria;
        color: $otros-titulos;

        .foto-1 {
            width: 13rem;
        }

    }

    .yenny {

        font-family: $tipo-terciaria;
        color: $otros-titulos;

        .foto-2 {
            width: 13rem;
        }

    }
}


/*seccion blog*/

.tarjetas-blog {
    text-decoration: none;
}

.card-title {
    color: $titulos;
    font-family: $tipo-terciaria;
}

.card-text {
    color: $textos;
    font-family: $tipo-parrafo;
}

.text-muted {
    font-family: $tipo-parrafo;
}